parameters:

nette:
    database:
        dsn: 'mysql:host=localhost;dbname=zum_stats'
        user: root
        password:
        reflection: discovered

services:
        authenticator: Authenticator

        scoreRepository: ZUMStats\ScoreRepository
        usersRepository: ZUMStats\UsersRepository
        tokenRepository: ZUMStats\TokenRepository

factories:
