{block content}

<div class="container-fluid">
  <div class="row-fluid">
        <div class="form-signin span6 offset3">
        <h2 class="form-signin-heading">Aktivovat účet</h2>
            {control activateForm}
        </div>
  </div>
</div>