{var $robots = noindex}

{block #content}

  <div class="container-fluid">
  <div class="row-fluid">
        <div class="form-signin span6 offset3">
        <h2 class="form-signin-heading">Přihlášení</h2>
            {control loginForm}
        </div>
  </div>
  </div>

{* or use {include '../components/form.latte', form => $presenter[signInForm]} *}
