{layout '@layout.latte'}
{if $renderGraph}
{block #graph}
<div class="big-chart" id="chart_div">
</div>

<script type="text/javascript">
      var data = [
          ['Čas', 'Uzlů'],
          {foreach $chart as $score}
                [{$score->ref("score_id")->date|date: 'j. m., H:i'},
                {$score["count(*)"]}]{sep},{/sep}
          {/foreach}
        ];
        prepareChart('Historie úspěšnosti','Čas',data);
</script>
{/block}
{/if}    

{if $renderTable}
{block #scoreTable}
<table n:ifset="$scores" class="table">
            <tr>
                <th>Počet uzlů</th>
                <th>Kdy</th>
                <th n:if="$renderButtons">Operace</th>
            </tr>
            <tr n:foreach="$scores as $score" class="{if !$score->ref("score_id")->valid}error{/if}">
                <td>{$score["count(*)"]}</td>
                <td>{$score->ref("score_id")->date|date: 'j. m. Y, H:i:s'}</td>
                <td n:if="$renderButtons">
                    {if $score->ref("score_id")->valid}
                        <a class="btn btn-mini btn-warning" n:href="changeValidity! id=>$score->score_id">Invalidate</a>
                    {else}
                        <a class="btn btn-mini" n:href="changeValidity! id=>$score->score_id">Validate</a>
                    {/if}
                    <a class="btn btn-mini btn-danger" n:href="delete! id=>$score->score_id">Smazat</a>
                    <a class="btn btn-mini" href="{plink Score:displayScore id=>$score->score_id}">Uzly</a>
                </td>
            </tr>
</table>
{/block}
{/if}    