{block content}

{control scoreOverview}

<hr>
<div class="text-center">
    

    <div class="lead well">
        {$baseUri}/commit/%token%/%apiversion%
        <hr>
        <a href="{$basePath}/files/ScoreCommit.zip" class="btn btn-large btn-success">Stáhnout knihovnu</a>
    </div>
    
</div>
