{block content}

<h1>Uzly</h1>

<div class="container">
    <div class="well" n:ifset="$nodes">
        {foreach $nodes as $node}
            {$node->node_id}{sep}, {/sep}
        {/foreach}
    </div>
</div>